<h1>Credentials Listings</h1>

<table class="table table-striped">
<% if !@credentials.empty? %>
  <% @credentials.each do |m| %>
    <tr>
      <td><%= m.name %></td>
      <td><%= m.number %></td>
  </tr>
<% end %>
<% else %>
  No credentials yet
<% end %>
</table>

Display: <%= @test %>
