<h1>Enter new credential</h1>

<%= form_for user_credentials_path(@user), :method => "post" do %>
  Name: <%= text_field_tag :name %><br>
  Number: <%= text_field_tag :number %><br>
  <%= submit_tag "Add" %>
<% end %>
